<!-- Seção Cabeçalho -->
<header class="cabecalho" aria-labelledby="tituloopcao1">
    <i class="fa-solid fa-table-cells"></i>
    <h1>Conversor Mol<span class="cabecalho_titulo_span"> ↔ </span>Massa</h1>
    <p class="cabecalho_descricao">
        Converta facilmente entre quantidade de matéria (mol) e massa usando a massa molar dos compostos.
    </p>
</header>
<section class="organizacao_primaria">
    <!-- Seção Conversor -->
    <section class="card conversor-mol-massa" aria-label="Conversor entre Mol e Massa">
        <h3>Conversor Mol ↔ Massa</h3>
    </section>

    <!-- Seção Fórmulas de Conversão -->
    <section class="card formula-conversao" aria-label="Informações sobre Fórmulas de Conversão entre Mol e Massa">
        <h3>Fórmulas de Conversão</h3>

    </section>

    <!-- Seção Informações sobre o Mol -->
    <section class="card info-conversao" aria-label="Informações sobre Conversão de Massa e Massa Molar">
        <section class="card_info_organizacao" aria-label="">
            <header>
                <h2>O que é o Mol?</h2>
            </header>
            <p class="card_info_escrita">
                O <span>mol</span> é a unidade de medida do Sistema Internacional (SI) para quantidade de matéria. Um
                mol contém
                exatamente <span>6,022 × 10²³</span> entidades elementares (constante de Avogadro), sejam átomos,
                moléculas, íons ou
                outras partículas.

                A relação entre massa, mol e massa molar é fundamental na química: conhecendo dois desses valores, é
                possível calcular o terceiro. Essa conversão é essencial para cálculos estequiométricos e preparação de
                soluções.

                <span>Exemplo:</span> Para obter 36 g de água (H₂O), precisamos de 2 mol, pois a massa molar da água é
                18 g/mol (36 ÷
                18 = 2).
            </p>
        </section>
    </section>
</section>