<!DOCTYPE html>
<html>

<head>
    <title>Meu site</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="menuinicial">
        <a href="/">Química Geral</a>
        <a href="/opcao2">Opção 2</a>
        <a href="/opcao3">Opção 3</a>
        <a href="/opcao4">Opção 4</a>
        <!-- botão de tema escuro com ícone do icons8 -->
        <button id="botaoTema" aria-label="Alternar modo escuro" style="background:none;border:none;cursor:pointer;padding:0;">
          <img id="iconeTema" src="https://img.icons8.com/ios-filled/24/000000/moon-symbol.png" alt="tema" />
        </button>
    </nav>
    <div class="conteudo">
        {{{body}}}
    </div>

    <script src="/js/main.js"></script>
</body>

</html>