<!DOCTYPE html>
<html>

<head>
    <title>Meu site</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if additionalStyles}}
    {{{additionalStyles}}}
    {{/if}}
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <nav class="menuinicial">
        <div class="logo">
            <div class="logoescrita">
                <div id="logo">
                    <i class="fa-solid fa-flask"></i>
                </div>
                <div id="escrita">
                    <p>ChemStudy</p>
                    <p id="hubdequimica">Hub de Química</p>
                </div>
            </div>
        </div>
        <div class="linkeclaroescuro">
            <div class="claroeescuro">
                <button id="botaoTema" aria-label="Alternar modo escuro">
                    <i id="iconeTema" class="fa-regular fa-sun"></i>
                </button>
            </div>
            <button id="botaoMenu" class="botao-menu" aria-label="Abrir menu" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div class="links">
            <a href="/">Química Geral</a>
            <a href="/topicos">Tópicos</a>
            <a href="/ferramentas">Ferramentas</a>
        </div>
    </nav>
    <div class="geral">
        <div class="conteudo">
            {{{body}}}
        </div>
    </div>
    <footer>
        <p>&copy; 2026 ChemStudy. Todos os direitos reservados.</p>
    </footer>
    <script src="/js/main.js"></script>
</body>

</html>
