<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu site</title>
  <link rel="stylesheet" href="/css/main.css">
  {{#if additionalStyles}}
  {{{additionalStyles}}}
  {{/if}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <header>
    <nav class="menuinicial" aria-label="Navegação principal">
      <div class="logo">
        {{#if showBackButton}}
        <a href="/" class="voltar">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        {{/if}}
        <div class="logoescrita">
          <div id="logo">
            <i class="fa-solid fa-flask"></i>
          </div>
          <div id="escrita">
            <p>ChemStudy</p>
            <p id="hubdequimica">Hub de Química</p>
          </div>
        </div>
      </div>
      <div class="linkeclaroescuro">
        <div class="claroeescuro">
          <button id="botaoTema" aria-label="Alternar modo escuro">
            <i id="iconeTema" class="fa-regular fa-sun"></i>
          </button>
        </div>
        <button id="botaoMenu" class="botao-menu" aria-label="Abrir menu" aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
      <div class="links">
        <a href="/">Química Geral</a>
        <a href="/topicos">Tópicos</a>
        <a href="/ferramentas">Ferramentas</a>
      </div>
    </nav>
  </header>
  <main class="geral">
    <section class="conteudo">
      {{{body}}}
    </section>
  </main>
  <footer>
    <p>&copy; 2026 ChemStudy. Todos os direitos reservados.</p>
  </footer>
  <script src="/js/main.js"></script>
  {{#if additionalScripts}}
  {{{additionalScripts}}}
  {{/if}}

</body>

</html>